.flex {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 1rem;
}

.flex span {
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
  line-height: 2;
}

.completed span {
  text-decoration: line-through;
}